.catalogo-container {
  width: 90%;
  margin:auto;
}

.catalogo-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/*Para que salgan 4*/
  gap: 20px;
}

.loading-spinner, .error-message {
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  color: var(--color-text-muted);
}