

.hero-split-container {
  display: flex;
  height: 450px;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #000; 
}

.hero-half {
  flex: 1; /* mismo espacio por defecto */
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: flex 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* Transición suave */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0; /* Evita que el contenido desborde en flex */
}

/* FONDOS */
.hero-half.left {
  background-image: url('../../public/images/hero-home/image-catalog-hero.png');
}

.hero-half.right {
  background-image: url('../../public/images/hero-home/image-events-hero.jpg');
}

/* EFECTO DE MOVIMIENTO */
.hero-half:hover {
  flex: 2; 
}

/* CAPA OSCURA */
.hero-overlay {
  background: rgba(182, 168, 168, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
  /* Importante para que el texto no salte raro al redimensionar */
  white-space: nowrap; 
}

.hero-half:hover .hero-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* --- LA LÍNEA CENTRAL --- */
.hero-divider {
  width: 4px;
  background-color: white; 
  height: 100%;
  position: relative; 
  z-index: 10;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* --- EL CÍRCULO 'OR' --- */
.or-circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 900;
  font-style: italic;
  font-size: 1rem;
  color: #111;
  border: 4px solid white; 
}

.split-title {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -2px;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.split-title.highlight { color: #ff4d00; }

.split-subtitle {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  background: rgba(0,0,0,0.8);
  padding: 8px 16px;
  border-radius: 4px;
}

.home-content { 
  padding-bottom: 50px; 
}

.featured-section { 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px;

}
.section-title { 
  color: var(--text-primary); 
  text-align: center; 
  margin-bottom: 40px; 
  font-size: 2rem; 
  text-transform: uppercase; 
  font-weight: 800; 
}
.product-grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 30px; justify-content: center; 
}