.sidebar {
  /* Las propiedades de posición ya están en index.css, aquí solo estilo */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: var(--accent);
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar nav ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary); /* Gris medio */
  transition: 0.2s;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebar nav ul li a:hover {
  color: var(--accent);       /* Se pone naranja al pasar el ratón */
  background-color: #ffffff;  /* Fondo blanco al pasar el ratón */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}